<div class="audio-container">
  <!-- Controles -->
  <div class="controls">
    <button
      mat-button
      [disabled]="!cancion || isFirstPlaying()"
      (click)="previous()"
    >
      <mat-icon class="prev">skip_previous</mat-icon>
    </button>

    <button
      mat-button
      (click)="play()"
      [disabled]="!cancion"
      *ngIf="!state?.playing"
    >
      <mat-icon class="play">play_arrow</mat-icon>
    </button>

    <button mat-button (click)="pause()" *ngIf="state?.playing">
      <mat-icon class="pause">pause</mat-icon>
    </button>

    <button
      mat-button
      [disabled]="!cancion || isLastPlaying()"
      (click)="next()"
    >
      <mat-icon class="next">skip_next</mat-icon>
    </button>
  </div>
  <!-- Time slider -->
  <div class="time">
    <div class="title">
      <p *ngIf="cancion"><strong>{{ cancion?.name }} - {{ cancion?.collectionName }}</strong></p>
    </div>
    <div class="time-controls">
      <span *ngIf="state?.readableCurrentTime" class="current-time">{{
        state?.readableCurrentTime
      }}</span>
      <span *ngIf="!state?.readableCurrentTime" class="current-time"
        >00:00</span
      >
      <mat-slider
        class="time-slider"
        min="0"
        [max]="state?.duration"
        step="1"
        [value]="state?.currentTime"
        (input)="onSliderChangeEnd($event)"
        [disabled]="state?.error"
      ></mat-slider>
      <span *ngIf="!state?.readableDuration" class="total-time">00:00</span>
      <span *ngIf="state?.readableDuration" class="total-time">{{
        state?.readableDuration
      }}</span>
    </div>
  </div>
  <!-- Cover -->
  <div class="meta">
    <div class="art"><img src="{{ cancion?.artworkUrl }}" alt="" /></div>
  </div>
</div>
