<!-- Top menu con buscador -->
<div class="top-bar">
  <mat-form-field>
    <span class="material-icons">search</span>
    <input
      matInput
      type="text"
      name="filtroCanciones"
      placeholder="Buscar..."
      (keyup)="filtrarCanciones($event.target.value)"
    />
  </mat-form-field>
</div>

<div class="container-canciones">
  <table
    mat-table
    [dataSource]="dataSource"
    class="full-width-table"
    matSort
    aria-label="Elements"
  >
    <!-- No hay canciones -->
    <ng-container>
      <tr>
        <td colspan="5"></td>
      </tr>
    </ng-container>

    <!-- Cargando canciones -->
    <ng-container>
      <tr *ngIf="!cargado">
        <td colspan="5">Cargando canciones...</td>
      </tr>
    </ng-container>

    <!-- Columna posicion -->
    <ng-container matColumnDef="item">
      <th mat-header-cell *matHeaderCellDef>#</th>
      <td mat-cell *matCellDef="let cancion; let i = index">
        <span *ngIf="!cancion.muestraPlay && !cancion.reproduciendo">{{
          i + 1
        }}</span>
        <span
          *ngIf="cancion.muestraPlay || cancion.reproduciendo"
          class="material-icons play-icon"
          >play_circle_filled</span
        >
      </td>
    </ng-container>

    <!-- Columna Canción -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Canción</th>
      <td
        mat-cell
        *matCellDef="let cancion"
        (click)="eliminaEstadoPlay()"
        (click)="cancion.reproduciendo = true"
        (click)="reproducir(cancion)"
      >
        {{ cancion.name }}
      </td>
    </ng-container>

    <!-- Columna Álbum -->
    <ng-container matColumnDef="collectionName">
      <th mat-header-cell *matHeaderCellDef>Álbum</th>
      <td
        mat-cell
        *matCellDef="let cancion"
        (click)="eliminaEstadoPlay()"
        (click)="cancion.reproduciendo = true"
        (click)="reproducir(cancion)"
      >
        {{ cancion.collectionName }}
      </td>
    </ng-container>

    <!-- Columna Duración -->
    <ng-container matColumnDef="duration">
      <th mat-header-cell *matHeaderCellDef>Duración</th>
      <td
        mat-cell
        *matCellDef="let cancion"
        (click)="eliminaEstadoPlay()"
        (click)="cancion.reproduciendo = true"
        (click)="reproducir(cancion)"
      >
        {{ cancion.duration | date: "mm:ss" }}
      </td>
    </ng-container>

    <!-- Columna Duración -->
    <ng-container matColumnDef="more">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let cancion" (click)="mostrarDetalles(cancion)">
        <span class="material-icons">more_vert</span>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr
      [ngClass]="cancion?.reproduciendo ? 'play' : 'queue'"
      mat-row
      *matRowDef="let cancion; columns: displayedColumns"
      (mouseenter)="cancion.muestraPlay = true"
      (mouseleave)="cancion.muestraPlay = false"
    ></tr>
  </table>

  <mat-paginator
    #paginator
    [length]="dataSource.data.length"
    [pageIndex]="0"
    [pageSize]="5"
    [pageSizeOptions]="[5, 10, 15, 25]"
  >
  </mat-paginator>
</div>
