@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://fonts.googleapis.com/css?family=Quicksand&display=swap");

html,
body {
  height: 100%;
}
body {
  margin: 0px;
  font-family: "Quicksand", "Helvetica Neue", sans-serif;
}

table,
th,
td {
  font-family: "Quicksand", "Helvetica Neue", sans-serif;
}

.mat-accent .mat-slider-track-fill,
.mat-accent .mat-slider-thumb,
.mat-accent .mat-slider-thumb-label {
  background-color: #6be684;
}
